#panel{
  width:80vw;
  height:90vh;
  box-shadow:3px 1px 1px rgba(54, 28, 54, 0.39);
  background-color:rgb(59, 50, 59);
  border-radius:0px 16px 16px 0px;
  padding:35px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  min-height:130px;
}
#title {
  font-size: 24px;
  height:100%;
}
#actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width:70%;
}
#filterBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  font-size: 16px;
}
