.button {
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2.5em;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(255, 240, 240);
}
.logout{
  background-color: #db4437;
  width:75%;
  position:relative;
  bottom:15%;
  text-shadow: 1px 1px #49232365;
}
.logout:hover {
  background-color: #c8473c;
}
.addItem{
  background-color: #603bb8;
  width:8rem;
  text-shadow: 1px 1px #361c3665;
  height:4rem;
}
.addItem:hover {
  background-color: #4f2a8a;
}
.goBack{
  background-color: #130d22;
  width:4rem;
  text-shadow: 1px 1px #361c3665;
  height:3rem;
  font-size:1.5rem;
  line-height:1.5rem;
}
.goBack:hover {
  background-color: #20182c;
}