#interface {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100vh;
  z-index: 99;
  position: absolute;
}
#sidebar {
  width: 15vw;
  min-width: 200px;
  height: 100%;
  color: rgb(197, 188, 196);
  background-color: rgb(32, 29, 32);
  display: flex;
  flex-flow: column nowrap;
  font-family: "Playfair Display", serif;
  align-items: center;
  box-shadow: 3px 0px 2px #272026;
  justify-content:space-between;
}

#welcomeMessage {
  margin: 25px;
  text-shadow: -1px -1px 4px #91528845;
}
