#login-button {
    background-color: #db4437;
    border-radius: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2.5em;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    min-width: 15vw;
    text-shadow: 1px 1px #13132c65;
    color: rgb(255, 240, 240);
    position:absolute;
    left:50%;
    top:50%;
  }
  #login-button:hover {
    background-color: #c8473c;
  }